{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Reporte de Visita - ControlRisk</title>
{% endblock %}

{% block link %}
<script src="{% static 'lib/highcharts/highcharts.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/series-label.js' %}"></script>
<script src="{% static 'lib/highcharts//modules/exporting.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/export-data.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/accessibility.js' %}"></script>
{% endblock %}

<style>
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 14px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 4;
    }

    .div2 p {
        font-size: 2rem;
    }

    .div3 {
        grid-area: 2 / 1 / 4 / 4;
    }

    .reporte-content {
        font-size: 20px;
    }

    .div4 {
        grid-area: 4 / 1 / 7 / 3;
    }

    .div5 {
        grid-area: 7 / 1 / 8 / 4;
    }

    .div6 {
        grid-area: 4 / 3 / 7 / 4;
    }

    .check {
        display: flex;
        justify-content: centers;
    }
</style>

{% block contenido %}
<div class="title">
    <i class="uil uil-file-check-alt"></i>
    <span class="text">Informe Visita, Fecha : {{ fechaVisita }} </span>
</div>

<div class="parent">
    <div class="div1"></div>
    <div class="div2" style="margin-bottom: 20px">
        <h3 style="font-size: 2rem; ">Reporte Visita Realizada en la Fecha : {{ fechaVisita }}</h3>
    </div>
    <div class="div3" style="margin-bottom: 20px;">
        <div>
            <h3 style="font-size: 20px">Información General de la Visita</h3>
            <div class="reporte-content">
                <br>
                {% for i in detalle %}
                <p style="font-size: 13px; padding: 10px;">En el presente informe se da a conocer las observaciones
                    realizadas por el profesional {{ i.0 | upper }} RUT: {{ i.1 }}, encargado al realizar la visita en
                    la fecha {{ i.2 }}, asociada al contrato {{ i.6 }} en la Empresa {{ i.3 }} RUT: {{ i.4}}
                    perteneciente al rubro {{ i.7 | upper }}
                </p>
                {% endfor %}
                <br><br>
            </div>
        </div>
        {% if total > 0 %}
        <div>
            <h3 style="font-size: 20px">Informe Entregado por Profesional y Plan de Mejora</h3>
            <div class="reporte-content">
                <br>
                {% for i in plan %}
                <p style="font-size: 13px; padding: 10px;">
                    El profesional encargado da a conocer las siguientes
                    observaciones de la visita realziada: {{ i.0 | upper }}.
                </p>
                {% if i.1 == None %}
                <p style="font-size: 13px; padding: 10px;">
                    El Plan de Mejora propuesto por el profesional encargado
                    es el siguiente: NO SE REGISTRÓ PLAN DE MEJORA,
                </p>
                {% else %}
                <p style="font-size: 13px; padding: 10px;">
                    El Plan de Mejora propuesto por el profesional encargado
                    es el siguiente: {{ i.1 | upper }}.
                </p>
                {% endif %}
                {% if i.2 == None %}
                <p style="font-size: 13px; padding: 10px;">
                    Dado a concoer el Plan de Mejora al cliente, el profesional da a concoer que : NO SE REGISTRÓ PLAN
                    DE MEJORA.
                </p>
                {% else %}
                <p style="font-size: 13px; padding: 10px;">
                    {% if i.2 == True %}
                    Dado a concoer el Plan de Mejora al cliente, el profesional da a concoer que : APLICÓ LAS
                    MEJORAS PROPUESTAS POR EL PROFESIONAL.
                    {% else %}
                    Dado a concoer el Plan de Mejora al cliente, el profesional da a concoer que : NO APLICÓ LAS
                    MEJORAS PROPUESTAS POR EL PROFESIONAL.
                    {% endif %}
                </p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="div4">
        <figure class="highcharts-figure" style="margin-top: 40px">
            <div id="container" style="margin-top: 40px">
            </div>

        </figure>
        <br>
        <br>
        <br>
        <figure class="highcharts-figure-pie">
            <div id="container-pie"></div>

        </figure>
        <br>
        <br>
        <br>
        <div>
            <h3 style="font-size: 20px">Información Obtenida de las Graficas</h3>
            <div class="reporte-content">
                {% for i in detalle %}
                <p style="font-size: 13px; padding: 10px;">
                    De acuerdo a las graficas visualziadas anteriormente, se observa que la empresa {{ i.3 | upper }}
                    rut {{ i.4}} ha obtenido un total de {{ reprobado }} ITEMS REPROBADOS ({{repro}}%), {{ semi }} ITEMS
                    SEMI APROBADOS ({{semiapro}}%) y {{ aprobado }} ITEMS APROBADOS ({{aprob}}%), de acuerdo a la lista
                    de chequeo realziada por el profesional {{ i.0 | upper }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="div5"> </div>
    <div class="div6" style="margin-bottom: 20px;">
        <div class="check">
            <h2 style="text-align: center; margin: 30px;">ESTADO DE CHECKLIST REALIZADA EN LA VISITA
            </h2>
            <div class="reporte-content" style="margin: 0 auto; width: 100%; text-align: center;">
                <table class="table-rwd">
                    <thead class="item">
                        <tr>
                            <th style="text-transform: uppercase; text-align: center;">Nombre item</th>
                            <th style="text-transform: uppercase;">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in checkList %}
                        <tr class="estado">
                            <td data-titulo="Item" class="name-item" style="text-align: center;">{{ item.0 | upper }}
                            </td>
                            <td data-titulo="Estado" style="text-align: center;">
                                {% if item.3 == True %}
                                <p class="ap" style="text-align: center;">APROBADO</p>
                                {% endif %}
                                {% if item.2 == True %}
                                <p class="sa" style="text-align: center;">SEMI APROBADO</p>
                                {% endif %}
                                {% if item.1 == True %}
                                <p class="re" style="text-align: center;">REPROBADO</p>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alerta">
        <img src="{% static 'images/report.png' %}" alt="">
        <div>
            <p>La visita aún no se ha realizado</p>
        </div>
    </div>
    {% endif %}
    {% if total > 0 %}
    <div class="boton" style="display:flex; justify-content: space-around;">
        <div class="button-c pdf">
            <a class="btn" href="{% url 'base:visita-pdf' id %}" target="_blank">Generar pdf de informe</a>
        </div>
        <!-- <div class="button-c pdf">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn" name="email" href="{% url 'base:visita-pdf' id %}" target="_blank">Enviar informe
                    via email</button>
            </form>
        </div> -->
    </div>
    {% else %}
    <div class="boton" style="display:flex; justify-content: space-around;">
        <div class="button-c pdf">
            <p class="btn">No se puede generar pdf</p>
        </div>
        <!-- <div class="button-c pdf">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn" name="email" href="{% url 'base:visita-pdf' id %}" target="_blank">Enviar informe
                    via email</button>
            </form>
        </div> -->
    </div>
    {% endif %}
    <div class="boton">
    </div>
    <script type=text/javascript>
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Cantidad de item de la visita {{ fechaVisita }}'
            },
            subtitle: {
                text: 'Empresa : {{ empresa }}'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: 0,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad de items'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: ''
            },
            series: [{
                name: 'Population',
                data: [
                    ['Reprobado', {{ itemRepro }}],
                    ['Semi Aprobado', {{ itemSemi }}],
                    ['Aprobado', {{ itemAprob }}],
                ],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#FFFFFF',
                    align: 'center',
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '20px',
                    }
                }
            }]
        });




        Highcharts.chart('container-pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Porcentaje de checklist de la visita {{ fechaVisita }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Porcentaje',
                colorByPoint: true,
                data: [{
                    name: 'Reprobado',
                    y: {{ repro }},
                sliced: true,
                selected: true
                }, {
            name: 'Semi Aprobado',
            y: {{ semiapro }}
                }, {
                name: 'Aprobado',
                y: {{ aprob }},
                }]
            }]
        });


    </script>
</div>
{% endblock %}