{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Reporte de Visita General- ControlRisk</title>
{% endblock %}

{% block link %}
<script src="{% static 'lib/highcharts/highcharts.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/series-label.js' %}"></script>
<script src="{% static 'lib/highcharts//modules/exporting.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/export-data.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/accessibility.js' %}"></script>
{% endblock %}

<style>
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 14px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 4;
    }

    .div2 p {
        font-size: 2rem;
    }

    .div3 {
        grid-area: 2 / 1 / 4 / 4;
    }

    .reporte-content {
        font-size: 20px;
    }

    .div4 {
        width: 100%;
        grid-area: 4 / 1 / 7 / 3;
    }

    .div5 {
        grid-area: 7 / 1 / 8 / 4;
    }

    .div6 {
        grid-area: 4 / 3 / 7 / 4;
    }

    #container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .check {
        display: flex;
        justify-content: centers;
    }
</style>

{% block contenido %}
<div class="title">
    <i class="uil uil-file-check-alt"></i>
    <span class="text">Informe General de Visitas Periodo : {{ inicio }} - {{ final }}</span>
</div>

<div class="parent">
    <div class="div1">
        
    <br>
    <div class="div2" style="margin-bottom: 20px">
        <h3 style="font-size: 2rem; ">Reporte General de Visitas Realizadas en el Periodo del Contrato</h3>
    </div>
    <div class="div3" style="margin-bottom: 20px;">
        <div>
            <h3 style="font-size: 20px">Información General de la Visita</h3>
            <div class="reporte-content">
                <br>
                <p style="font-size: 13px; padding: 10px;">
                    En el presente informe se da a conocer el resultados de las LISTAS DE CHEQUEO de todas las visitas
                    de la EMPRESA {{empresa|upper}} RUT {{formatRut}} CONTRATO {{rut}}-{{annio}}-{{cid}} realizadas
                    entre {{inicio}} - {{final}}.
                </p>
            </div>
        </div>
    </div>
    <div class="div4">
        <figure class="highcharts-figure">
            <div id="container" style="margin-top: 40px">
                {% if chart %}
                <img src="data:image/png;base64, {{ chart | safe }}" alt="" class="chart">
                {% endif %}
            </div>
        </figure>
        <br>
        <br>
        <br>
        <figure class="highcharts-figure-pie">
            <div id="container-pie">
            </div>
        </figure>
        <br>
        <br>
        <br>
        <div>
            <h3 style="font-size: 20px">Información Obtenida de las Graficas</h3>
            <div class="reporte-content">
                <p style="font-size: 13px; padding: 10px;">
                    De acuerdo a las graficas visualziadas anteriormente, se observa que la empresa {{ empresa | upper}}
                    rut {{formatRut}} de un total de {{total}} ITEMS (Contanto todos los items de cada visita
                    realizada), obtuvo {{ap}} ITEMS APROBADOS (Que corresponde a un {{ porc_aprobado}}%), {{sa}} ITEMS
                    SEMI APROBADOS (Que corresponde a un {{ porc_semi}}%) y {{re}} ITEMS REPROBADOS (Que corresponde a
                    un {{ porc_reprobado}}%).
                </p>
            </div>
        </div>
    </div>
    <div class="boton" style="display:flex; justify-content: space-around;">
        <div class="button-c pdf">
            <a class="btn" href="{% url 'base:visita-general-pdf' id %}" target="_blank">Generar pdf de informe</a>
        </div>
        <!-- <div class="button-c pdf">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn" name="email" href="" target="_blank">Enviar informe
                    via email</button>
            </form>
        </div> -->
    </div>
    <div class="boton">
    </div>

    <script type=text/javascript>
        Highcharts.chart('container-pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Porcentaje resultado de Lista de Cheoqueo {{ empresa | upper }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Porcentaje',
                colorByPoint: true,
                data: [{
                    name: 'Reprobado',
                    y: {{ porc_reprobado }},
                sliced: true,
                selected: true
                }, {
            name: 'Semi Aprobado',
            y: {{ porc_semi }}
                }, {
                name: 'Aprobado',
                y: {{ porc_aprobado }},
                }]
            }]
        });


    </script>
</div>
{% endblock %}