{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Crear usuario - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-user-plus"></i>
    <span class="text">Nuevo Empleado?, Ingresalo aquí!</span>
</div>

<div class="container">
    <form action="#" method="POST" id="form-emp">
        {% csrf_token %}
        <div class="form first">
            <div class="details personal">
                <div class="fields">
                    <div class="input-field" id="input-field-rut">
                        <label>Rut del Cliente</label>
                        {{ empForm.rut }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            Ingrese rut en formato 11.111.111-1
                        </p>
                    </div>
                    <div class="input-field repre" id="input-field-cargo">
                        <label>Cargo</label>
                        {{ empForm.cargo }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            Ingrese Profesional o Administrador
                        </p>
                    </div>
                </div>
            </div>

            <div class="details ID">
                <div class="fields">
                    <div class="input-field direc" id="input-field-nombre">
                        <label>Cargo</label>
                        {{ empForm.nombre }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            Ingrese nombres validos (Pedro Juan)
                        </p>
                    </div>
                    <div class="input-field direc" id="input-field-apellido">
                        <label>Cargo</label>
                        {{ empForm.apellido }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            Ingrese apellidos validos (Perez Perez)
                        </p>
                    </div>
                </div>

                <button class="nextBtn" type="submit" id="btn">
                    <span class="btnText">Guardar</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'success' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'success',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'error',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src='{% static "js/validate-emp.js" %}'></script>
{% endblock %}