{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Inicio de sesión - ControlRisk</title>
  {% endblock %}
  <link rel="stylesheet" href='{% static "css/estilos.css" %}'>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" href="{% static 'images/prevencion.png'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body style="width: 100% !important; overflow: hidden;" class="bg-danger">
  <section class="container forms" style="width: 100% !important;">
    <div class="form login">
      <div class="form-content">
        <div class="header-logo">
          <img src='{% static "images/ControlRisk_Logo.png" %}' alt="">
        </div>
        {% block content %}
        <header>Inicio de sesión</header>
        <form action='' method="POST">
          {% load crispy_forms_tags %}
          {% csrf_token %}
          {{ form | crispy }}
          <div class="forget">
            <a href='{% url "password_reset" %}'>Olvidaste tu contraseña?</a>
          </div>

          <div class="field button-field">
            <button type="submit">Iniciar sesión</button>
          </div>
        </form>
        {% endblock %}
      </div>
    </div>
  </section>
  <script src='{% static "js/main.js" %}'></script>
  {% if messages %}
  {% for m in messages %}
  <script>
    Swal.fire({
      'tittle': 'Exito',
      'text': '{{ m }}',
      'icon': 'success',
      'confirmButtonColor': '#ff131d',
      'confirmButtonText': 'Aceptar',
    })
  </script>
  {% endfor %}
  {% endif %}
</body>

</html>