{% extends "registration/login.html" %}
{% block title %}{% endblock %}
{% block content %}
<header>Restablecer Contraseña</header>
<div class="field input-field">
    <p>Te hemos enviado por correo electrónico las instrucciones para establecer tu contraseña.</p>
</div>
<div class="field input-field">
    <p>Si no recibe un correo electrónico, asegúrese de haber introducido la dirección con la que se registró.</p>
</div>
<br>
<div class="field button-field">
    <button><a href="{% url 'login' %}" style="color: white">Volver al Inicio de Sesión</a></button>
</div>
{% endblock %}