{% extends "registration/login.html" %}
{% block title %}
<title>Restablecer Contraseña - ControlRisk</title>
{% endblock %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}
{% block content %}
{% if validlink %}
<header>Ingresa tu nueva contraseña:</header>
<form action="." method="POST">
    {% load crispy_forms_tags %}
    <table>
        {{ form | crispy }}
    </table>
    {% csrf_token %}
    <div class="field button-field">
        <button type="submit">Guardar Contraseña</button>
    </div>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it hasalready been used. Please request a new password reset.
</p>
{% endif %}
{% endblock %}