{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Contratos - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-list-ul"></i>
    <span class="text">Contratos, Empleado : {{ rut }}</span>
</div>
<div class="button-c">
    <a class="btn" href="{% url 'base:create-contract' %}">Agregar contrato</a>
</div>


<div class="dash-content">
    {% if cantidad > 0 %}
    <table>
        <thead>
            <tr>
                <th style="text-transform: uppercase">Cod. Contrato</th>
                <th style="text-transform: uppercase">Cliente</th>
                <th style="text-transform: uppercase">Razón Social</th>
                <th style="text-transform: uppercase">Representante</th>
                <th style="text-transform: uppercase">Estado</th>
                <th style="text-transform: uppercase">Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entity %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.11 }}</td>
                <td>{{ item.13 }}</td>
                {% if item.18 == '1' %}
                <td class="container-status">
                    <div class="status">
                        <p>ACTIVO</p>
                    </div>
                </td>
                {% else %}
                <td class="container-status">
                    <div class="status-no">
                        <p>NO ACTIVO</p>
                    </div>
                </td>
                {% endif %}
                <td>
                    <a href="{% url 'base:contract-detail' item.0 %}" class="detail">
                        <i class="uil uil-external-link-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alerta">
        <img src="{% static 'images/contract.svg' %}" alt="" style="max-width: 250px">
        <p>No presentas contratos asociados a tu rut</p>
    </div>
    {% endif %}
</div>
{% endblock %}