{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Registro Cliente - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-user-plus"></i>
    <span class="text">Nuevo Cliente?, Ingresalo aquí!</span>
</div>

<div class="container">
    <form action="#" method="POST" id="form-client">
        {% csrf_token %}
        <div class="form first">
            <div class="details personal">
                <div class="fields">
                    <div class="input-field" id="input-field-rut">
                        <label>Rut del Cliente</label>
                        {{ clienteForm.rut }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i> 
                            Ingrese rut en formato 11.111.111-1
                        </p>
                    </div>
                    <div class="input-field" id="input-field-razon">
                        <label>Razón Social del Cliente</label>
                        {{ clienteForm.razon }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i> 
                            Ingrese un número valido (+56212345678)
                        </p>
                    </div>
                    <div class="input-field" id="input-field-tel">
                        <label>Telefono de Contacto del Cliente</label>
                        {{ clienteForm.telefono }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i> 
                            Ingrese un número valido (56212345678)
                        </p>
                    </div>
                    <div class="input-field direc" id="input-field-direc">
                        <label>Dirección del Cliente</label>
                        {{ clienteForm.direccion }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i> 
                            Ingrese una direccion valida
                        </p>
                    </div>
                </div>
            </div>

            <div class="details ID">
                <div class="fields">

                    <div class="input-field repre" id="input-field-repre">
                        <label>Representante Legal</label>
                        {{ clienteForm.representante }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i> 
                            Ingrese nombres validos (Pedro Juan Perez Perez)
                        </p>
                    </div>
                    <div class="input-field repre" id="input-field-reprerut">
                        <label>Rut Representante Legal</label>
                        {{ clienteForm.rutrepre }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i> 
                            Ingrese rut en formato 11.111.111-1
                        </p>
                    </div>

                    <div class="input-field" id="input-field-rubro">
                        <label>Rubro de Empresa del Cliente</label>
                        {{ clienteForm.rubro }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i> 
                        </p>
                    </div>
                </div>

                <button class="nextBtn" type="submit" id="btn">
                    <span class="btnText">Guardar</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div> 
        </div>
    </form>

    {% if messages %}
        {% for m in messages %}
                {% if m.tags  == 'success' %}
                <script>
                    Swal.fire({
                        'tittle': 'Exito',
                        'icon': 'success',
                        'text': '{{ m }}',
                        'confirmButtonColor': '#ff131d',
                        'confirmButtonText': 'Aceptar',
                    })
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for m in messages %}
            {% if m.tags  == 'error' %}
                <script>
                    Swal.fire({
                        'tittle': 'Exito',
                        'icon': 'error',
                        'text': '{{ m }}',
                        'confirmButtonColor': '#ff131d',
                        'confirmButtonText': 'Aceptar',
                    })
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src='{% static "js/validate-client.js" %}'></script>
{% endblock %}