/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --primary-color: #ff131d;
    --panel-color: #f5f5f5;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ff131d;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;
    --color-hover: #121212;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;

    --webkit-box-shadow: 15px 10px 39px 0px rgba(130, 130, 130, 1);
    --moz-box-shadow: 15px 10px 39px 0px rgba(130, 130, 130, 1);
    --box-shadow: 15px 10px 39px 0px rgba(130, 130, 130, 1);
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark {
    --color-hover: #f5f5f5;
    --primary-color: #3a3b3c;
    --panel-color: #121212;
    --text-color: #ccc;
    --black-light-color: #ccc;
    --border-color: #e6e5e5;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ccc;

    --webkit-box-shadow: 15px 10px 39px 0px rgb(30, 29, 29);
    --moz-box-shadow: 15px 10px 39px 0px rgb(36, 35, 35);
    --box-shadow: 15px 10px 39px 0px rgb(33, 33, 33);
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #e7d1fc;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff131d;
    border-radius: 20px;
}

.home-title h2 {
    color: var(--text-color);
}

.home-title p {
    color: var(--text-color);
}

.home-title img {
    border-radius: 50%;
    max-width: 150px;
    margin-top: -50px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 8px;
    background-color: var(--panel-color);
    /* border-right: 1px solid var(--border-color); */
    transition: var(--tran-05);
    overflow-y: scroll;
}

nav::-webkit-scrollbar {
    display: none;
}


nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 2.4rem;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

/* .menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
} */

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    font-size: 2.6rem;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 100px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    outline: none;
}

.top .search-box i {
    position: absolute;
    left: 15px;
    font-size: 2.2rem;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 50px;
    width: 100%;
}

.top .title {
    display: flex;
    align-items: flex-start;
    margin: 10px 0 30px 0;
}

.top .title i {
    font-size: 2rem;
    margin-left: 5px;
    color: var(--text-color);
}

.top .title .text {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 20px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 10px 0 30px 0;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #ff131d;
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

.dash-content .title .text {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.container {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0;
}

.container form {
    height: 100%;
    overflow: hidden;
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
}

.options {
    width: 100%;
    height: auto;
    display: flex;
}

.search-box input {
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    outline: none;
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container form .acci {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 10px);
    flex-direction: column;
}

.direc {
    width: 100% !important;
}

.repre {
    width: 60% !important;
}

.input-field label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.input-field input,
select {
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field textarea {
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 100px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.container form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #ff131d;
    transition: all 0.3s linear;
    cursor: pointer;
}

.container form .btnText {
    font-size: 1.4rem;
    font-weight: 400;
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

form .backBtn i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button,
.backBtn {
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form {
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}

.input-content {
    display: flex;
    flex-direction: column;
}

.input-content label {
    color: var(--black-light-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.input-content input {
    max-width: 400px;
    height: 30px;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
}

.input-content select {
    max-width: 400px;
    height: 30px;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
}

.input-content input[type="radio"] {
    max-width: 400px;
    height: 30px;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    display: flex;
}

.input-content textarea {
    max-width: 400px;
    height: 100px;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
}

.input-content textarea:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
}

.input-content select:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
}

.input-content input:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
}

.button {
    color: #f5f5f5;
    background-color: #ff131d;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover {
    background-color: #f96d74;
    transition: 0.5s;
}

.top-user {
    display: flex;
    /* width: 400px */
}

.select-menu .select-btn {
    width: 190px;
    display: flex;
    background: var(--panel-color);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sBtn-text {
    text-transform: capitalize;
}

.home-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.home-title h2 {
    font-size: 30px;
}

.home-title p {
    font-size: 2rem;
}

.select-btn i {
    font-size: 2rem;
    transition: 0.3s;
    color: var(--text-color);
}

.select-btn span {
    transition: 0.3s;
    color: var(--text-color);
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    width: 185px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: var(--panel-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.345);
    display: none;
}

.select-menu.active .options {
    display: block;
    transition: 1s;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 8px;
    align-items: center;
    background: var(--panel-color);
    list-style: none;
}

.options .option a {
    text-decoration: none;
}

.option i {
    font-size: 2rem;
    margin-right: 12px;
    color: var(--text-color);
}

.option .option-text {
    font-size: 1.5rem;
    color: var(--text-color);
}

.options li a:hover i,
.options li a:hover .option-text {
    color: #ff131d;
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .option-text {
    color: #ff131d;
}

.noti-menu .noti-btn {
    display: flex;
    background: var(--panel-color);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.noti-btn i {
    font-size: 2rem;
    transition: 0.3s;
    color: var(--text-color);
}

.noti-menu.active-noti .noti-btn i {
    transform: rotate(-180deg);
}

.noti-menu .noti-options {
    position: absolute;
    height: auto;
    max-width: 300px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background: var(--panel-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.345);
    display: none;
    text-align: center;
}

.noti-menu.active-noti .noti-options {
    display: block;
    transition: 1s;
}

.noti-options .noti-option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 45px 20px;
    border-radius: 8px;
    align-items: center;
    background: var(--panel-color);
    list-style: none;
    text-align: start;
}

.noti-options .noti-option a {
    text-decoration: none;
}

.noti-option i {
    font-size: 2rem;
    margin-right: 12px;
    color: var(--text-color);
}

.noti-option .option-text-noti {
    font-size: 1.5rem;
    color: var(--text-color);
}

.noti-options .noti-ver {
    width: 100%;
    margin: 0 auto;
}

.noti-ver p {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

.noti-ver a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

.noti-options li a:hover i,
.noti-options li a:hover .option-text-noti {
    color: #ff131d;
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .option-text {
    color: #ff131d;
}

footer {
    background-color: var(--panel-color);
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer p {
    font-size: 1.5rem;
    color: #707070;
}

.w {
    margin-top: 20px;
    margin-left: 0;
}

.button-c .btn {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 6px;
    background-color: #ff131d;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.form-container {
    width: 100%;
    display: flex;
}

.button-c .btn:hover {
    background-color: #f96d74;
    transition: 0.5s;
}

.alerta {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta p {
    font-size: 2.2rem;
    margin: 5.5rem;
    letter-spacing: 0.3rem;
}

.container-card {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.user {
    display: flex;
    margin-top: auto;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

table {
    width: 100%;
    font-family: "Poppins";
    border-collapse: collapse;
    text-align: center;
}

th {
    /* background-color: #ff131d; */
    color: var(--text-color);
}

table thead tr {
    font-size: 1rem;
}

th,
td {
    padding: 10px;
    font-size: 1.3rem;
}

tbody {
    background-color: var(--panel-color);
    color: var(--text-color);
}

.alert-input {
    color: #ff131d;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding: .2rem;
    visibility: hidden;
}

.alert-input-active {
    visibility: visible;
}

.container-status {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.detail i {
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
}


.status {
    background-color: green;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    width: 120px;
}

.status p {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px;
}

.status-no {
    background-color: #ff131d;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    width: 120px;
}

.status-no p {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px;
}

.action-container {
    display: flex;
    justify-content: space-around;
}

.action i {
    background-color: #ff131d;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.container-paginator {
    display: flex;
    justify-content: center;
    margin: 100px;
    font-family: "Poppins";
    font-size: 1.4rem;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li a {
    text-decoration: none;
    padding: 7px;
    margin: 7px;
    color: var(--text-color);
}

.pagination li a:hover {
    color: var(--primary-color);
}

.pagination li i {
    background-color: #ff131d;
    color: white;
    padding: 2px;
    font-size: 2rem;
    border-radius: 10px;
}

.contract-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -50px;
    color: var(--text-color);
}

.detail-title {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.detail {
    display: flex;
}

.contract-detail h3 {
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 30px;
}

.contract-detail p {
    font-size: 1.5rem;
    padding: 10px;
}

.title-pdf .text {
    text-align: center;
    font-size: 3.5rem;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.logo-pdf-img img {
    width: 200px !important;
}


.acordion-pagos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}


.details + details {
    margin-top: .5rem;
}

summary {
    list-style: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    border: 1px solid var(--black-light-color);
    width: 100%;
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
}

summary a {
    text-decoration: none;
    color: var(--text-color);
}


code {
    font-family: monospace;
    font-weight: 600;
}


.acordion-pago {
    width: 100%;
}


.especial {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.especial a {
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.especial a:hover {
    color: #ff131d;
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    thead {
        display: none;
    }

    td {
        display: block;
    }

    td:first-child {
        background-color: #333;
        color: #fff;
        text-align: center;
    }

    td {
        text-align: center;
    }

    td::before {
        float: left;
        margin-right: 3rem;
        font-weight: bold;
    }
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data {
        overflow-x: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media screen and (max-width: 594px) {
    .detail {
        flex-direction: column;
    }

    .detail h3 {
        font-size: 1.3rem;
        margin-left: -10px;
    }

    .detail p {
        font-size: 1.3rem;
        margin-left: -10px;
        margin-top: -15px;
    }

    .title span {
        font-size: 2rem !important;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.dashboard {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard .top {
        left: 0;
        width: 100%;
    }
}