{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Clientes - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-list-ul"></i>
    <span class="text">Clientes registrados</span>
</div>

<div class="options">
    <div class="button-c">
        <a class="btn" href="{% url 'base:create-client' %}">Agregar Cliente</a>
    </div>
</div>
<div class=" w">
    <div class="search-box">
        <input type="text" placeholder="Busca aquí...">
    </div>  
</div>

<div class="dash-content">
    <table>
        <thead>
            <tr>
                <th style="text-transform: uppercase">Rut</th>
                <th style="text-transform: uppercase">Razon social</th>
                <th style="text-transform: uppercase">Telefono</th>
                <th style="text-transform: uppercase">Representante</th>
                <th style="text-transform: uppercase">Rut Representante</th>
                <th style="text-transform: uppercase">Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entity %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>+{{ item.3 }}</td>
                <td>{{ item.4 }}</td>
                <td>{{ item.6 }}</td>
                <td class="action-container">
                    <a href="" class="detail">
                        <i class="uil uil-external-link-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'paginator.html' %}
    </div>
</div>
{% endblock %}