{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Registro de accidente - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-band-aid"></i>
    <span class="text">Ingreso de accidente</span>
</div>

<div class="container">
    <form action="#" method="POST" id="form-accident">
        {% csrf_token %}
        <div class="form first">
            <div class="details personal">
                <div class="fields acci">
                    <div class="input-field" id="input-field">
                        <label>Fecha del accidente</label>
                        {{ accidentForm.fecha }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            La fecha no puede ser superior a la actual
                        </p>
                    </div>
                    <div class="input-field">
                        <label>Descripción del accidente</label>
                        {{ accidentForm.descripcion }}
                    </div>
                    <div class="input-field">
                        <label>Medidas tomadas en el accidente</label>
                        {{ accidentForm.medidas }}
                    </div>
                </div>
            </div>

            <div class="details ID">
                <button class="nextBtn" id="btn">
                    <span class="btnText">Guardar</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>

    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endfor %}
    {% endif %}
</div>
{% block javascript %}
<script src='{% static "js/validate.js" %}'></script>
{% endblock %}
{% endblock %}