{% extends 'base.html' %} {% load static %} {% block name %}
<title>Clientes - ControlRisk</title>
{% endblock %} {% block contenido %}
<div class="title">
  <i class="uil uil-thumbs-up"></i>
  <span class="text">Asesorias</span>
</div>

<div class="especial">
  <a href="{% url 'base:asesoria-especial' %}"
    >Solicitar asesoria especial <i class="uil uil-arrow-right"></i
  ></a>
</div>

<div class="dash-content" class="table-container">
  <table class="table-rwd">
    <thead>
      <tr>
        <th style="text-transform: uppercase">Asesoria ID</th>
        <th style="text-transform: uppercase">Fecha Asesoria</th>
        <th style="text-transform: uppercase">Estado</th>
        <th style="text-transform: uppercase">Hora</th>
        <th style="text-transform: uppercase">Extra</th>
        <th style="text-transform: uppercase">Rut Empleado</th>
        <th style="text-transform: uppercase">Nombre Empleado</th>
      </tr>
    </thead>
    <tbody>
      {% for item in entity %}
      <tr>
        <td data-titulo="Asesoria ID">{{ item.0 }}</td>
        <td data-titulo="Fecha Asesoria">
          <div id="fechasesoria">{{ item.1 }}</div>
        </td>
        {% if item.3 == True %}
        <td class="container-status" data-titulo="Estado">
          <div class="status">
            <p>ACTIVO</p>
          </div>
        </td>
        {% else %}
        <td class="container-status" data-titulo="Estado">
          <div class="status-no">
            <p>NO ACTIVO</p>
          </div>
        </td>
        {% endif %}
        <td data-titulo="Hora">{{ item.2 }}</td>
        {% if item.4 == True %}
        <td class="container-status" data-titulo="Extra">
          <div class="centrar">
            <p>SI</p>
          </div>
        </td>
        {% else %}
        <td class="container-status" data-titulo="Extra">
          <div class="centrar">
            <p>NO</p>
          </div>
        </td>
        {% endif %}
        <td data-titulo="Rut Empleado">
          <div id="rutempleado">{{ item.5 }}</div>
        </td>
        <td data-titulo="Nombre Empleado">{{ item.6 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
