{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Clientes - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-list-ul"></i>
    <span class="text">Clientes registrados</span>
</div>

<div class="options">
    <div class="button-c">
        <a class="btn" href="{% url 'base:create-client' %}">Agregar Cliente</a>
    </div>
    
    <div class="search-box">
        <input type="text" placeholder="Busca aquí...">
    </div>    
</div>

<div class="dash-content">
    <table>
        <thead>
            <tr>
                <th>Rut</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entity %}
            <tr>
                <td>{{ item }}</td>
                <td class="action-container">
                    <div class="action">
                        <a href=""><i class="uil uil-refresh"></i></a>
                    </div>
                    <div class="action">
                        <a href=""><i class="uil uil-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
