{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Crear usuario - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-user-plus"></i>
    <span class="text">Nuevo Empleado?, Ingresalo aquí!</span>
</div>

<div class="container-dash">

    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-content">
                <label for="">Rut del Empleado</label>
                {{ empForm.rut }}
            </div>
            <div class="input-content">
                <label for="">Ingrese nombres del empleado</label>
                {{ empForm.nombre }}
            </div>
            <div class="input-content">
                <label for="">Ingrese apellidos del empleado</label>
                {{ empForm.apellido }}
            </div>
            <div class="input-content">
                <label for="">Ingrese cargo del empleado</label>
                {{ empForm.cargo }}
            </div>

            <div class="form-butto">
                <button class="button">
                    Guardar
                </button>
            </div>

        </form>

        {% if messages %}
        {% for m in messages %}
        <script>
            Swal.fire({
                'tittle': 'Exito',
                'text': '{{ m }}',
                'icon': 'success',
                'confirmButtonColor': '#ff131d',
                'confirmButtonText': 'Aceptar',
            })
        </script>
        {% endfor %}
        {% endif %}

    </div>

</div>
{% endblock %}