{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Inicio - ControlRisk</title>
{% endblock %}

{% block contenido %}

{% if user.is_authenticated %}
<div class="home-title">
    <img src='{% static "images/ControlRisk_Logo.png" %}' alt="">
    {% if user.is_profesional == 1 %}
        <h2>Bienvenido a Intranet Control Risk</h2>
        <p>Panel: Profesional</p>
        <p></p>
    {% endif %}
    {% if user.is_profesional == 0 %}
        <h2>Bienvenido a Intranet Control Risk</h2>
        <p>Panel: Cliente</p>
        <p></p>
    {% endif %}
</div>
{% endif %}

{% endblock %}