{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Inicio - ControlRisk</title>
{% endblock %}

{% block contenido %}

{% if user.is_authenticated %}

<div class="home-title">
    <img src='{% static "images/ControlRisk_Logo.png" %}' alt="">
    <h2>Intranet Control Risk</h2>
    {% if user.is_staff == 0 %}
    {% if user.is_profesional == 1 %}

    <p>Panel: Profesional</p>

    {% endif %}
    {% endif %}

    {% if user.is_staff == 1 %}
    {% if user.is_profesional == 0 %}

    <p>Panel: Administrador</p>

    {% endif %}
    {% endif %}

    {% if user.is_staff == 0 %}
    {% if user.is_profesional == 0 %}

    <p>Panel: Cliente</p>

    {% endif %}
    {% endif %}
</div>
{% endif %}

{% endblock %}