{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Clientes - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-file-contract-dollar"></i>
    <span class="text">Contratos registrados</span>
</div>

<div class="button-c">
    <a class="btn" href="{% url 'base:create-contract' %}">Agregar contrato</a>
</div>


<div class="dash-content">
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Asesorias</th>
                <th>Capacitaciones</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>1er Pago</th>
                <th>Cuotas</th>
                <th>Valor</th>
                <th>Pagado</th>
                <th>Empleado</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entity %}
            <tr>
                <td>{{ item.9 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
                <td>{{ item.3 }}</td>
                <td>{{ item.4 }}</td>
                <td>{{ item.5 }}</td>
                <td>{{ item.6 }}</td>
                <td>{{ item.7 }}</td>
                {% if item.8 == 0 %}
                    <td>No</td>
                {% else %}
                    <td>Si</td>
                {% endif %}
                <td>{{ item.10 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}