{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Asesoria : {{ id }} - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-clipboard-notes"></i>
    <span class="text">Detalle Asesoria : {{ id }}</span>
</div>

<div class="container">
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="container-card">
            <div class="card">
                {% for item in entity %}
                <div class="card-detail">
                    <h3>NRO. Asesoria : </h3>
                    <p>{{ item.0 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Rut Empresa Cliente : </h3>
                    <p>{{ item.6 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Razón Social Empresa : </h3>
                    <p>{{ item.7 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Telefono Empresa : </h3>
                    <p>+ {{ item.9 }}</p>
                </div>
                <div class="card-detail">
                    <h3>RUT Representante Legal Empresa : </h3>
                    <p>{{ item.15 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Nombre Representante Legal Empresa : </h3>
                    <p>{{ item.14 | upper }}</p>
                </div>
                <div class="card-detail">
                    <h3>Dirección Empresa : </h3>
                    <p>{{ item.8 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Fecha Asesoria : </h3>
                    <p>{{ item.1 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Hora Visita : </h3>
                    <p>{{ item.2 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Estado Visita : </h3>
                    <p>{{ item.4 }}</p>
                </div>
                {% endfor %}
            </div>
            <div>
                {{ asesoriaForm.estado }}
                <button class="nextBtn" id="btn">
                    <span class="btnText">Guardar</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'success' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'success',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'error',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}