{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Asesorias - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-clipboard-notes"></i>
    <span class="text">Asesorias, Empleado : {{ rut }}</span>
</div>

<div class="dash-content">
    {% if c > 0 %}
        <h2 style="text-align: center" class="act">ESTAS SON TUS ASESORIAS DE LA SEMANA</h2>
        {% for item in entity %}
            <p>{{ item.2 }}</p>
            <p>{{ item.3 }}</p>
            <a href="{% url 'base:asesorias-detalle-emp' item.6 %}" class="detail">
                <i class="uil uil-external-link-alt"></i>
            </a>
        {% endfor %}
    {% else %}
        <div class="alerta">
            <p>No presenta asesorias para esta semana &#128532</p>
        </div>
    {% endif %}
</div>
{% endblock %}