{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Solicitud de Asesoria - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-thumbs-up"></i>
    <span class="text">Solicitud de Asesorias</span>
</div>


<div class="container">
    <form action="#" method="POST" id="form-asesoria">
        {% csrf_token %}
        <div class="form first">
            <div class="details personal">
                <div class="fields">
                    <div class="input-field repre" id="input-field-rut">
                        <label>Rut Empresa Cliente</label>
                        <input type="text" name="rut" id="" required>
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            Ingrese rut en formato 11.111.111-1
                        </p>
                    </div>
                    <div class="input-field repre" id="input-field-fecha">
                        <label>Fecha para Asesoria</label>
                        {{ especialForm.fecha }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            La fecha ingresada no puede ser inferior a la fecha actual y con 3 días de anticipación 
                        </p>
                    </div>
                    <div class="input-field" id="input-field-hora">
                        <label>Hora para Asesoria </label>
                        {{ especialForm.hora }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            La hora ingresada debe ser entre las 10:00 am y las 16:00 pm
                        </p>
                    </div>
                </div>
            </div>

            <div class="details ID">
                <div class="fields">

                    <div class="input-field direc" id="input-field-repre">
                        <label>Descripcions o motivo de solicitud</label>
                        {{ especialForm.descripcion }}
                        <p class="alert-input" id="alert-input">
                            <i class="uil uil-exclamation-circle"></i>
                            Ingrese nombres validos (Pedro Juan Perez Perez)
                        </p>
                    </div>
                </div>

                <button class="nextBtn" type="submit" id="btn">
                    <span class="btnText">Guardar</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'success' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'success',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'error',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script type=text/javascript>
    const formularioAsesoria = document.getElementById("form-asesoria");
    const inputsAsesoria = document.querySelectorAll("#form-asesoria input");

    const expresiones = {
        nombre: /^[a-zA-ZÀ-ÿ]+[\s]+[a-zA-ZÀ-ÿ]+[\s]+[a-zA-ZÀ-ÿ]+[\s]+[a-zA-ZÀ-ÿ]{1,50}$/,
        rut: /^\d{1,2}\.\d{3}\.\d{3}[-][0-9kK]{1}$/,
        telefono: /^(\+?56)?(\s?)(0?2)(\s?)[0-9]\d{7}$/,
        direccion: /^[a-zA-ZÀ-ÿ],+[\s]+[0-9],+[\s]+[a-zA-ZÀ-ÿ],+[\s]+[a-zA-ZÀ-ÿ],+[\s]+[a-zA-ZÀ-ÿ]$/
    };

    function sumarDias(fecha, dias) {
        fecha.setDate(fecha.getDate() + dias);
        return fecha;
    }

    const validarFormulario = (e) => {
        switch (e.target.name) {
            case "rut":
                if (expresiones.rut.test(e.target.value)) {
                    document
                        .querySelector("#input-field-rut .alert-input")
                        .classList.remove("alert-input-active");

                    const btn = document.getElementById("btn");
                    btn.disabled = false;
                } else {
                    document
                        .querySelector("#input-field-rut .alert-input")
                        .classList.add("alert-input-active");

                    const btn = document.getElementById("btn");
                    btn.disabled = true;
                }
                break;
            case "fecha":
                var fecha = new Date(e.target.value);
                var f1 = new Date(sumarDias(fecha, 1)).toDateString();
                var f2 = Date.now();
                var f3 = new Date(f2).toDateString();

                var f4 = new Date(f1);
                var f5 = new Date(f3);
                var f6 = new Date(sumarDias(f5, 3))

                if (f4 <= f6) {
                    document
                        .querySelector("#input-field-fecha .alert-input")
                        .classList.add("alert-input-active");
                    document.getElementById("alert-input").innerHTML = "La fecha ingresada debe ser mayor a " + f6.toDateString();
                    const btn = document.getElementById("btn");
                    btn.disabled = true;
                } else {
                    document
                        .querySelector("#input-field-fecha .alert-input")
                        .classList.remove("alert-input-active");

                    const btn = document.getElementById("btn");
                    btn.disabled = false;
                }
                break;
        };
        switch (e.target.name) {
            case "hora":
                if (new Date(e.target.value).toDateString() >= new Date(new Date().toDateString() + ' ' + '10:00') && new Date(e.target.value).toDateString() <= new new Date(new Date().toDateString() + ' ' + '18:00')) {
                    document
                        .querySelector("#input-field-hora .alert-input")
                        .classList.add("alert-input-active");
                    btn.disabled = true;
                } else {
                    document
                        .querySelector("#input-field-hora .alert-input")
                        .classList.remove("alert-input-active");

                    const btn = document.getElementById("btn");
                    btn.disabled = false;
                }
                break;
        };
    }

    inputsAsesoria.forEach((input) => {
        input.addEventListener("keyup", validarFormulario);
        input.addEventListener("blur", validarFormulario);
    });
</script>
{% endblock %}