{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Asesorias - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-clipboard-notes"></i>
    <span class="text">Visitas, Empleado : {{ rut }}</span>
</div>

<div class="dash-content">
    {% if c > 0 %}
        <h2 style="text-align: center" class="act">ESTAS SON TUS VISITAS A TERRENO DE LA SEMANA</h2>
        {% for item in entity %}
            <p>{{ item.2 }}</p>
            <p>{{ item.3 }}</p>
            {{ asesoriaForm.estado }}
        {% endfor %}
    {% else %}
        <div class="alerta">
            <p>No presentas visitas a terreno para esta semana &#128532</p>
        </div>
    {% endif %}
</div>
{% endblock %}