{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Asesoria : {{ id }} - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-clipboard-notes"></i>
    <span class="text">Detalle Visita : {{ id }}</span>
</div>

<div class="container">
    {% for item in entity %}
    <div class="especial">
        <a href="{% url 'base:visita-checklist'  item.0%}">
            <i class="uil uil-file-check-alt"></i>
            Generar CheckList
        </a>
        <a href="{% url 'base:visita-informe'  item.0%}">
            <i class="uil uil-file-edit-alt"></i>
            Generar Informe Visita
        </a>
    </div>
    <form action="#" method="POST" style="margin-top: 20px;">
        {% csrf_token %}
        <div class="container-card">
            <div class="card">
                <div class="card-detail">
                    <h3>NRO. Visita : </h3>
                    <p>{{ item.0 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Rut Empresa Cliente : </h3>
                    <p>{{ item.5 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Razón Social Empresa : </h3>
                    <p>{{ item.6 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Telefono Empresa : </h3>
                    <p>+ {{ item.8 }}</p>
                </div>
                <div class="card-detail">
                    <h3>RUT Representante Legal Empresa : </h3>
                    <p>{{ item.13 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Nombre Representante Legal Empresa : </h3>
                    <p>{{ item.12 | upper }}</p>
                </div>
                <div class="card-detail">
                    <h3>Dirección Empresa : </h3>
                    <p>{{ item.7 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Fecha Visita : </h3>
                    <p>{{ item.1 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Hora Visita : </h3>
                    <p>{{ item.2 }}</p>
                </div>
                <div class="card-detail">
                    <h3>Estado Visita : </h3>
                    <p>{{ item.4 }}</p>
                </div>
            </div>
            <div>
                {{ asesoriaForm.estado }}
                <button class="nextBtn" id="btn">
                    <span class="btnText">Guardar</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </form>

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'success' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'success',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
        Swal.fire({
            'tittle': 'Exito',
            'icon': 'error',
            'text': '{{ m }}',
            'confirmButtonColor': '#ff131d',
            'confirmButtonText': 'Aceptar',
        })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}