{% extends 'base.html' %}
{% load static %}

{% block name %}
<title>Visitas - ControlRisk</title>
{% endblock %}

{% block contenido %}
<div class="title">
    <i class="uil uil-car-sideview"></i>
    <span class="text">Visitas, Cliente: {{ rut }}</span>
</div>

{% if activo == 1 %}
<div class="dash-content">
    <h2 style="text-align: center" class="act">ESTAS SON TUS VISITAS DEL MES</h2>
    {% if c > 0 %}
    <table class="table-rwd">
        <thead>
            <tr>
                <th style="text-transform: uppercase">Visita ID</th>
                <th style="text-transform: uppercase">Fecha Visita</th>
                <th style="text-transform: uppercase">Estado</th>
                <th style="text-transform: uppercase">Hora</th>
                <th style="text-transform: uppercase">Extra</th>
                <th style="text-transform: uppercase">Rut Empleado</th>
                <th style="text-transform: uppercase">Nombre Empleado</th>
                <th style="text-transform: uppercase">Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for item in mensual %}
            <tr>
                <td data-titulo="Visita ID">{{ item.0 }}</td>
                <td data-titulo="Fecha Asesoria">
                    <div id="fechasesoria">{{ item.1 }}</div>
                </td>
                <td data-titulo="Estado">{{ item.3 }}</td>
                <td data-titulo="Hora">{{ item.2 }}</td>
                {% if item.4 == True %}
                <td class="container-status" data-titulo="Extra">
                    <div class="centrar">
                        <p>SI</p>
                    </div>
                </td>
                {% else %}
                <td class="container-status" data-titulo="Extra">
                    <div class="centrar">
                        <p>NO</p>
                    </div>
                </td>
                {% endif %}
                <td data-titulo="Rut Empleado">
                    <div id="rutempleado">{{ item.5 }}</div>
                </td>
                <td data-titulo="Nombre Empleado">{{ item.6 | upper }}</td>
                <td>
                    <a href="{% url 'base:visita-detalle' item.0 %}" class="detail">
                        <i class="uil uil-external-link-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alerta">
        <p>NO PRESENTAS VISITAS PARA EL MES ACTUAL</p>
    </div>
    {% endif %}
    <br><br><br><br>
    <h2 style="text-align: center" class="act">ESTAS SON TUS VISITAS</h2>
    <table class="table-rwd">
        <thead>
            <tr>
                <th style="text-transform: uppercase">Visita ID</th>
                <th style="text-transform: uppercase">Fecha Visita</th>
                <th style="text-transform: uppercase">Estado</th>
                <th style="text-transform: uppercase">Hora</th>
                <th style="text-transform: uppercase">Extra</th>
                <th style="text-transform: uppercase">Rut Empleado</th>
                <th style="text-transform: uppercase">Nombre Empleado</th>
                <th style="text-transform: uppercase">Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entity %}
            <tr>
                <td data-titulo="Visita ID">{{ item.0 }}</td>
                <td data-titulo="Fecha Asesoria">
                    <div id="fechasesoria">{{ item.1 }}</div>
                </td>
                <td data-titulo="Estado">{{ item.3 }}</td>
                <td data-titulo="Hora">{{ item.2 }}</td>
                {% if item.4 == True %}
                <td class="container-status" data-titulo="Extra">
                    <div class="centrar">
                        <p>SI</p>
                    </div>
                </td>
                {% else %}
                <td class="container-status" data-titulo="Extra">
                    <div class="centrar">
                        <p>NO</p>
                    </div>
                </td>
                {% endif %}
                <td data-titulo="Rut Empleado">
                    <div id="rutempleado">{{ item.5 }}</div>
                </td>
                <td data-titulo="Nombre Empleado">{{ item.6 | upper }}</td>
                <td>
                    <a href="{% url 'base:visita-detalle' item.0 %}" class="detail">
                        <i class="uil uil-external-link-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="dash-content" class="table-container">
    <div class="alerta">
        <img src="{% static 'images/contract.svg' %}" alt="" style="max-width: 250px">
        <p>No presentas un contrato activo</p>
    </div>
</div>
{% endif %}
{% endblock %}